{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'account:login' %}">
    {% csrf_token %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}


                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        {% block form %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}
